# Currency Symbol
NEXT_PUBLIC_CURRENCY_SYMBOL = '$'

# Supabase Configurations
NEXT_PUBLIC_SUPABASE_URL="https://ytivyldglecdnhkvrevd.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY="sb_publishable_gmY856GUcZijrsTTSGrqTg_rJz0mllP"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl0aXZ5bGRnbGVjZG5oa3ZyZXZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjU1NTE4OSwiZXhwIjoyMDg4MTMxMTg5fQ.18eATSHQ8ht_t9aeMCdMy4zQCUiuUR1T5oKhT_MSNeM"

# Database Connections (Replacing [YOUR-PASSWORD] with the authentic password)
DATABASE_URL="postgresql://postgres:H9MH.*vy9%vs3iX@db.ytivyldglecdnhkvrevd.supabase.co:5432/postgres"
DIRECT_URL="postgresql://postgres:H9MH.*vy9%vs3iX@db.ytivyldglecdnhkvrevd.supabase.co:5432/postgres"
